/* This container includes our table and our canvas. */
.center-container {
    /* This property sets the width of our container. */
    width: 600px;
    /* This property centers our container. */
    margin: 0 auto;
    /* 50 px down from top */
    margin-top: 50px;
    background-color: black;
}

table {
    /* This property collapses table borders into 1 border. */
    border-collapse: collapse;
    /* This hides outer borders on table. */
    border-style: hidden;
}

td {
    /* This property changes the cursor to the index finger hand when we hover
    over td elements. */
    cursor: pointer;
    /* This property sets our table border style. */
    border: 4px solid rgba(0, 100, 0255, 0.8);
    /* This property removes default padding */
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    /* This property sets the position of our canvas to the top left corner of our container. */
    position: absolute;
    /* This property places our canvas over the top of our table */
    z-index: 10;
    /*This property makes our canvas invisible */
    pointer-events: none;
}

h1 {
    /* Centers all text within the h1 elements. */
    text-align: center;
    /* Changes the color of the text */
    color: yellow;
}

body {
    background-color: red;
}

/*====================
    SCOREBOARD
 ======================
*/
.Scoreboard-Container {
    background: black;
    width: 200px;
    height: 135px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid cornsilk;
    border-radius: 20px;        
    margin: 20px auto;    
}

.Titles {
    font-weight: bolder;
    font-size: 30px;     
    background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
}

.Scores {
    list-style: none;
    text-align: left;
}

.Scores li {
    margin-bottom: 10px;
}

#playerScore {
    margin-left: 10px;
}
#cpuScore {
    margin-left: 20px;
}