/* Adding smooth scrolling behavior to the entire web page */

html {
    scroll-behavior: smooth;
    background: #000;
    color: #fff;
}

body {
    font-family: Arial, sans-seriff;
}

* {
    box-sizing: border-box;
}

/* SLIDE SHOW SECTION */
#slideshow {
    margin: 50px auto;
    position: relative;
    height: 240px;
    width: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
}

.text-style {
    font-family: 'Lucida Grande', sans-serif;
    background: purple;
    color: lightgreen;
    border: 2px solid gold;
    border-radius: 4px;
}

.text {
    font-weight: 900;
    font-size: 30px;
    padding: 16px;
}

/* Button used to open the contact form
will be fixed at the bottom of the page */

.open-button {
    background-color: #525;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    bottom: 23px;
    right: 28px;
    width: 280px;
    animation: floater 10s infinite;
}

/* Using the animation and keyframes property for special effects */
@keyframes floater {
    0% {bottom: 28px; left: 50%; background: green; width: 20%; height: 10%;}
    25% {bottom: 28px; left: 0; background: blue; width: 20%; height: 10%;}
    50% {bottom: 28px; left: 80%; background: red; width: 20%; height: 10%;}
    75% {bottom: 28px; left: 0; background: yellow; width: 20%; height: 10%;}
    100% {bottom: 28px; left: 50%; background: green; width: 20%; height: 10%;}
}

h1 {
    text-align: center;
    color: blue;
    animation: zoominout 5s forwards;
}

@keyframes zoominout {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Creating space to use "popup" as a bookmark */

#popup {
    margin-top: 50%;
    margin-bottom: 5px;
}

.spacing {
    margin-top: 5%;
    margin-bottom: 30%;
}
/* The popup form will be hidden by default */

.Form {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Adding styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full width input fields */

.form-container input[type=text],
.form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do the following */

.form-container input[type=text]:focus,
.form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit login button */

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
    transition: 1s opacity;
}